!!!
%html
  %head
    %title= current_account.name
    = stylesheet_link_tag    'default/application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'default/shared/navigation'
    .container
      = yield
